.wrapper{
    padding:20px 60px 0px 40px;
}
.tabs-wrapper{
    padding: 24px 0px 0px 0px;
    gap:36px;
}
.active{
    padding-bottom: 4px;
    color: var(--secondary);
    border-bottom: 3px solid var(--primary);
}
.add-booking{
    margin-top: 24px;
    width: 201px;
    background: #186ADE;
    border-radius: 100px;
    padding: 9px 24px 9px 20px;
    gap:9px;
}

@media screen and (max-width:1023px) {
    
}