.drop-down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:42.9px;
    padding: 0 10px;
    background: #EEEEF7;
    border-radius: 8px;
    width:100%;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.drop-down.open{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.drop-down span{
    font-weight: 400;
    font-size: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
    line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
    color: #82829B;
    cursor: pointer;
}
.drop-down span:first-child{
    overflow: hidden;
}
.drop-down ul{
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 45px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0px;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 0;
    overflow: hidden;
    background: #F5F5F5;
    color: #82829B;
    transition: 0.1s all ease-in-out;
}

.drop-down.open ul{
    padding: 0px 0px 8px;
    height: fit-content;
    max-height: 150px;
    overflow-y: scroll;
}
.drop-down ul li{
    font-weight: 400;
    font-size: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
    line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
    cursor: pointer;
    border-bottom: 1px solid #eee;
    padding: 8px;
}
.drop-down ul li:last-child{
    border-bottom: none;
}
.drop-down ul li:hover{
    background-color: #DCDCDC;
}
/* drop down */
.drop-down-white{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:42.9px;
    padding: 0 10px;
    background: var(--white);
    border-radius: 8px;
    width:100%;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 100%;
    min-width:90px;
    max-width: 100px;
    box-sizing: border-box;
}
.drop-down-white.open{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.drop-down-white span{
    font-weight: 400;
    font-size: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
    line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
    color: #82829B;
    cursor: pointer;
}
.drop-down-white span:first-child{
    overflow: hidden;
}
.drop-down-white ul{
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 45px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0px;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 0;
    overflow: hidden;
    background: #F5F5F5;
    color: #82829B;
    transition: 0.1s all ease-in-out;
}

.drop-down-white.open ul{
    padding: 0px 0px 8px;
    height: fit-content;
    max-height: 150px;
    overflow-y: scroll;
}
.drop-down-white ul li{
    font-weight: 400;
    font-size: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
    line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.drop-down-white ul li:last-child{
    border-bottom: none;
}
.drop-down-white ul li:hover{
    background-color: #DCDCDC;
}

/* */
.drop-down-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:22px;
    width:100%;
    position: relative;
    cursor: pointer;
    user-select: none;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
}
.drop-down-date.open{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.drop-down-date span{
    font-weight: 400;
    font-size: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
    line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
    color: #82829B;
    cursor: pointer;
}
.drop-down-date span:first-child{
    overflow: hidden;
}
.drop-down-date ul{
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 45px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0px;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 0;
    overflow: hidden;
    background: #F5F5F5;
    color: #82829B;
    transition: 0.1s all ease-in-out;
}

.drop-down-date.open ul{
    padding: 0px 0px ;
    height: fit-content;
    max-height: 150px;
    overflow-y: scroll;
}
.drop-down-date ul li{
    font-weight: 400;
    font-size: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
    line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.drop-down-date ul li:last-child{
    border-bottom: none;
}
.drop-down-date ul li:hover{
    background-color: #DCDCDC;
}
@media screen and (max-width:480px){
    
    .drop-down span{
        font-size: 12px;
    }
    .drop-down ul li{
        padding: 5px 13px;
        font-size: 12px;
    }
    .drop-down span svg{
        width:15px;
        height: 15px;
    }
    .drop-down-date span{
        font-size: 12px;
    }
    .drop-down-date ul li{
        padding: 5px 13px;
        font-size: 12px;
    }
    .drop-down-date span svg{
        width:15px;
        height: 15px;
    }
}
